/*GERAIS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fahkwang", sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: #e3e3e3f9;
    height: 100vh;
}

html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    background-color: #e3e3e3f9;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.btn-comprar{
    margin: auto;
}

.btn-comprar button{
    margin-top: 1px;
    margin-left: 85px;
    padding: 10px 4%;
    width: 120px;
    background-color: #000;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-comprar button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px ;

}

.btn-comprar span{
    color: #fff;
}

/*Cabeçalho*/
header{
    padding: 10px 4%;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 40px;
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
}

header a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    margin-top: 10px;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding:  0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px  #00ff08;
}

.fixed-top{
    background-color: #e3e3e3f9;
    height: 80px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

section.topo-site{
    height: 500px;
    background-image: url(img/topo-site.webp);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    text-align: center;
    padding: 40px 4%;
}

.corpo-site {
    background-color: white;
    height: 350px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

.container-card-categoria h2{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.container-card-categoria {
    text-align: center;
}

.container-card-categoria h2 {
    margin-top: 50px; /* Espaço acima do título */
    font-size: 30px;
}

.categoriaItem {
    flex: 0 0 calc(20% - 40px); /* 20% para 5 itens por linha, subtraindo 40px devido às margens */
    padding: 20px;
    background-color: #fff;
    margin-left: 15px;
}

/*Luxos*/

section.luxos{
    background-color: #fff;
    padding: 20px 4%;
}


.luxos h2{
    margin-top: 1px; 
    text-align: center;
    font-size: 30px;
}

.cardLuxos{
    background-color: #fff;
    padding: 10px;
    /* height: 460px;
    width: 300px;
    margin-left: 50px;
    margin-top: 20px;
    float: left; */
    border-radius: 5px;
    margin-left: 15px;
}

.cardLuxos img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.cardLuxos p{
    font-size: 15px;
    margin-top: 20px ;
}

section.sobreNos {
    background-color: #e3e3e3f9;
    height: 510px;
    display: flex;
    justify-content: space-between;
}

.img-sobreNos{
    background-image: url(img/modelo-pluzSIze.jfif);
    height:99%;
    width: 430px;
    margin-top: 2px;
    margin-left: 10px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.text-sobreNos{
    height: 510px;
    width: 650px;
    float: left;
    margin-left: 80px;
}


.text-sobreNos h1{
    text-align: center;
    margin-top: 70px;   
    font-size: 40px;
    padding-bottom: 20px;
}

.text-sobreNos p{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}


section.contato{
    background-color: #e3e3e3f9;
    background-image: url(img/contato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 510px;
}

.redesSocias{
    height: 500px;
    max-width: 500px;
    padding: 40 4%;
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 2px;
    float: left;
}

.cardSocias{
    background-color: #ffffffd2;
    height: 100px;
    width: 400px;
    padding: 5px 4%;
    float: left;
    margin-left: 1px;
    margin-top: 40px;
    border-radius: 10px;
    transition: 1s;
}

.cardSocias:hover{
    transform: scale(1.05);
}

.cardSocias h2{
    text-align: center;
}

.cardSocias p{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.cardSocias p:hover{
    transform: scale(1.05);
    color: blueviolet;
}

.cardSocias ul{
    list-style: none;
    margin-left: 19px;
}

.cardSocias li{
    text-align: center;
    align-items: center;
    float: left;
    margin-left: 40px;
}


.cardSocias li:hover{
    transform: scale(1.05);
    color: blueviolet;
}

.cardSocias i{
    font-size: 35px;
}

.formContato{
    height: 500px;
    width: 600px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 2px;
    float: left;
}

.form-group{
    margin-top: 10px;
}

.form-group label{
    font-size: 20px;
    margin-left: 40px;
}

.form-group input{
    padding: 15px;
    width: 500px;
    margin-left: 40px;
}

.form-group textarea{
    padding: 10px;
    width: 500px;
    margin-left: 40px;
}

.text-center{
    align-items: center;
    text-align: center;
}

.botaoContato{
    margin-right: 90px;
    margin-top: 30px;
}

.text-center button{
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.text-center button:hover {
    transform: scale(1.05);
}

.text-center button.emailButton:hover {
    background-color: rgb(60, 130, 243);
}

.text-center button.whatsappButton:hover {
    background-color: #00ff08;
}

footer {
    padding: 40px 4%;  
    box-shadow: 0 0  40px 10px #ffffff1d;
    margin-top: 20px;
    margin-bottom: 0;
}


footer .flex{
    justify-content: space-between; 
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #000;
}

footer .social-icons button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .social-icons button:hover {
    transform: scale(1.5)
}

footer .social-icons i{
    justify-content: center;
}

footer .line-footer p i{
    color: #000;
    font-size: 22px;
}

footer .line-footer a {
    color: #000;
}

.social-icons {
    display: flex;
    left: 0;
    margin-top:3px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}

@media screen and (max-width: 792px){
    .container-card-categoria{
        max-width: 90%;
        margin: 0 auto;
        height: auto; /* Definir altura automática */
    }

    .categoriaItem{
        display: block; /* Alterar para bloco */
        margin-top: 30px;
        margin-left: 0;
        width: 100%; /* Ocupar toda a largura */
        padding-top: 10px;
        text-align: center; /* Centralizar o conteúdo */
    }

    .categoriaItem img{
        margin: 0 auto; /* Centralizar a imagem */
        display: block; /* Para corrigir espaçamento extra */
    }
}

