/*GERAIS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fahkwang", sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: #000;
    height: 100vh;
}

html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
    .navbar-toggler-icon{
        color: #fff;
    }
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    background-color: #000;
}

.flex{
    display: flex;
}

.social-icons {
    display: flex;
    left: 0;
    margin-top:3px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}


.titulo{
    text-align: center;
    color: #fff;
}

.titulo span{
    color: #ffd700;
} 

/*Cabeçalho*/
header{
    padding: 10px 4%;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 40px;
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
}

header a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .1s;
    margin-top: 10px;
}

header a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding:  0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px  #00ff08;
}

.navbar a{
    color: #fff;
}

.btn-custom {
    color: #000; 
    background-color: #fff;
    border-color: #000; 
}

.btn-custom:hover {
    transform: scale(1.05);
    color: #fff;
    background-color: #000;
    border-color: #000; 
}

.fixed-top{
    background-color: #000;
    height: 82px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

section.topo-site{
    text-align: center;
}

.topo-site img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
/*Luxos*/

section.luxos{
    padding: 40px 4%;
}

section.luxos .flex{
    gap: 40px;
}

.luxos .cardLuxos{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ffffffc7;
    border-radius: 5px;
    margin-top: 25px;
}

.cardLuxos h3{
    font-size: 30px;
    text-align: center;
}

.luxos .cardLuxos img{
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    max-height: 100%;
    border-radius: 5px;
}

.cardLuxos p{
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}


.btn-comprar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-comprar button{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-comprar button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px ;
}


/*  SOBRE NÓS  */


section.sobreNos { 
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.text-sobreNos {
    margin-left: 30px;
    color: #000;
}

.text-sobreNos h2{
    text-align: center;
    margin-left: 0px;
    color: #fff;
}

.text-sobreNos p{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 19px;
    color: #fff;
}

.img-sobreNos{
    margin-left: 120px;
    margin-right: 30px;
}

.img-sobreNos img{
    height: 400px;
    width: 300px;
    border-radius: 20px;
} 

/*  Contato */

section.contato{
    padding: 80px 4%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.contato form{
    max-width: 500px;
}

.line{
    margin-top: 1px;
    background-color: #fff;
    box-shadow: 0 0  40px 10px #ffffff88
}

.form-group{
    margin-top: 10px;
}

.form-group label{
    color: #fff;
    font-size: 20px;
    margin-left: 40px;
}

.form-group input{
    padding: 15px;
    width: 500px;
    margin-left: 40px;
}

.form-group textarea{
    padding: 10px;
    width: 500px;
    margin-left: 40px;
}

.text-center{
    align-items: center;
    text-align: center;
}

.botaoContato{
    margin: 0 auto;
    margin-top: 20px;
}

.text-center button{
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.text-center button:hover {
    transform: scale(1.05);
}

.text-center button.emailButton:hover {
    background-color: rgb(60, 130, 243);
}

.text-center button.whatsappButton:hover {
    background-color: #00ff08;
}

section.contato iframe{
    margin-top: 50px;
    margin-left: 100px;
}

footer {
    padding: 40px 4%;  
    box-shadow: 0 0  40px 10px #ffffff88;
    margin-top: 20px;
    margin-bottom: 0;
}


footer .flex{
    justify-content: space-between; 
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #fff;
}

footer .social-icons button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .social-icons button:hover {
    transform: scale(1.5)
}

footer .social-icons i{
    justify-content: center;
}

footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}

footer .line-footer a {
    color: #fff;
}


.logo-footer a{
    color: #fff;
    font-size: 30px;
}

@media  screen and (max-width: 1020px){
    /*  GERAISS*/
    .flex{
        flex-direction: column;
    }

    /* CABEÇALHO */
    header form{
        margin-bottom: 5px;
    }

    /*  CORPO SITE */
    .topo-site{
        margin-top: 100px;
    }

    /*  PRODUTOS */
    .btn-comprar button{
        margin-left: 20pxs;
    }

    /* SOBRE NÓS */
    .img-sobreNos{
        margin: 0 auto;
        gap: 30px;
    }

    /* contato */
    .formContato .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group label, .form-group input, .form-group textarea {
        width: 100%;
        max-width: 400px;
    }

    .form-group input, .form-group textarea {
        margin-left: 0;
    }

    section.contato iframe{
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }
}